<p style="color: green"><%= notice %></p>

<div class="product-container" id="<%= dom_id(@product) %>">
  <div class="product-image">
    <% if @product.images.attached? %>
      <%= image_tag(@product.images.first, style: "width: 100%; height: auto;") %>
    <% else %>
      <p>No images available.</p>
    <% end %>
  </div>
  <div class="product-details">
    <h1><%= @product.name %></h1>
    <p class="price">
      $<%= @product.price %> <span class="deck-info">(One Deck - 52 Cards)</span>
    </p>
    <p class="price">
      <%= @product.discount %> % <span class="deck-info">Discount</span>
    </p>
    <p class="description">
      <%= @product.description %>
    </p>

    <%= form_with url: orders_path, method: :post do |f| %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.hidden_field :user_id, value: current_user.id %> <!-- User ID -->
      <%= f.hidden_field :total_price, value: @product.price %> <!-- Total price -->

      <div class="quantity-wrapper">
        <label for="quantity">QTY</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1">
      </div>

      <%= f.submit "Place Order", class: "add-to-cart" %>
    <% end %>

    <p class="member-offer">
      Holstee Members save 20%! <a href="#">Login</a> or <a href="#">Join Today.</a>
    </p>
    <div>
      <%= link_to "Edit this product", edit_product_path(@product) %> |
      <%= link_to "Back to products", products_path %>
      <%= button_to "Destroy this product", @product, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
