<p style="color: green"><%= notice %></p>

<div class="product-container" id="<%= dom_id(@product) %>">
  <div class="product-image">
    <% if @product.images.attached? %>
      <%= image_tag(@product.images.first, style: "width: 100%; height: auto;") %>
    <% else %>
      <p>No images available.</p>
    <% end %>
  </div>
  <div class="product-details">
    <h1><%= @product.name %></h1>
    <p class="price">
      $<%= @product.price %> <span class="deck-info">(One Deck - 52 Cards)</span>
    </p>
    <p class="description">
      <%= @product.description %>
    </p>
    <form class="product-form">
      <label for="quantity">QTY</label>
      <div class="quantity-wrapper">
        <button type="button" class="quantity-btn">-</button>
        <input type="number" id="quantity" name="quantity" value="1" min="1">
        <button type="button" class="quantity-btn">+</button>
      </div>
      <%#= button_to "Add to Cart", cart_path(product_id: @product.id), method: :post, class: "add-to-cart" %>
      <button type="submit" class="add-to-cart">Add to Cart</button>

    </form>
    <p class="member-offer">
      Holstee Members save 20%! <a href="#">Login</a> or <a href="#">Join Today.</a>
    </p>
    <div>
      <%= link_to "Edit this product", edit_product_path(@product) %> |
      <%= link_to "Back to products", products_path %>
      <%= button_to "Destroy this product", @product, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>