<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <span>Nababi</span>
      <% end %>

      <!-- Bootstrap 5 Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link active" do %>
              Home <span class="visually-hidden">(current)</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              Menu
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              About
            <% end %>
          </li>
        </ul>

        <div class="user_option d-flex align-items-center gap-3">
          <%= link_to new_product_path, class: "user_link" do %>
            <i class="fa fa-user" aria-hidden="true"></i> User
          <% end %>

          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-link user_link" %>

          <a class="cart_link" href="#">
            <!-- SVG Cart Icon kept as-is -->
            <!-- (SVG code unchanged for brevity) -->
          </a>

          <form class="d-flex">
            <button class="btn nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>

          <a href="#" class="order_online btn btn-outline-primary">
            Order Online
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
