<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png" type="image/png">
<!--    <link rel="shortcut icon" href="<%#= asset_path 'favicon.png' %>" type="image/png">-->

    <title>Nababi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css", "data-turbolinks-track": "reload" %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <!-- header section start -->
  <%= render 'layouts/header' %>
  <!-- end header section -->
  <body>
    <%= yield %>
  </body>
  <!-- footer section -->
<%= render 'layouts/footer' %>
  <!-- footer section -->

</html>
